name: Simple CI

on: [push]

jobs:
  test-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install pytest

      - name: Run Tests
        run: pytest
        
      - name: Login to Docker Hub
      - run: |
          test -n "${{ secrets.DOCKER_USERNAME }}" || echo "Username missing"
          test -n "${{ secrets.DOCKER_PASSWORD }}" || echo "Password missing"
          
      - name: Build Docker Image
        run: docker build -t ehsanelahi249/week3-app:${{ github.sha }} .

      - name: Push Docker Image
        run: docker push ehsanelahi249/week3-app:${{ github.sha }}
